<div class="divForm">
    <h1>Create new vehicle</h1>
    <form action="/action_page.php" class="main-form">
      <div *ngIf="registerEntry" class="alert alert-success"> <strong>Well done!</strong> Vehicle successfully entered into the parking</div>
      <div *ngIf="!isValid" class="alert alert-danger" role="alert">
        <strong>{{messageEntry}}</strong> {{message}}
      </div>
  
      <label for="numberPlate">Number plate</label>
      <input disabled type="text" id="numberPlate" name="numberPlate" [(ngModel)]="vehicle.numberPlate" placeholder="numberPlate">
  
      <label for="brand">Brand</label>
      <input disabled type="text" id="brand" name="brand" [(ngModel)]="vehicle.brand" placeholder="brand">
  
      <label for="cylinder">Cylinder</label>
      <input disabled type="text" id="cylinder" name="cylinder" [(ngModel)]="vehicle.cylinder" placeholder="cylinder">
  
      <label for="vehicleType">Vehicle type</label>
      <select disabled id="vehicleType" name="vehicleType" [(ngModel)]="vehicle.vehicleType">
        <option value="motorcycle">Motorcycle</option>
        <option value="car">Car</option>
      </select>
  
      <input type="submit" (click)="saveEntry()" value="Register Entry">
    </form>
  </div>